<ion-view view-title="KAPLOW!" >
  <ion-content class="kaplow-pane">
    <!--<ion-list>
      <ion-item class="item-avatar" type="item-text-wrap" href="#/tab/dispatchform">
        <h2>Dispatch a Driver!</h2>
      </ion-item>
    </ion-list>-->



<div class="list list-inset" ng-controller="LandingCtrl">


  <label class="item item-input">
    <input type="text" name="fname" placeholder="First Name">
  </label>
  <label class="item item-input">
    <input type="text" name="lname"placeholder="Last Name">
  </label>
  <label class="item item-input">
    <input type="text" name="phone" placeholder="Phone Number">
    </label>
    <label class="item item-input">
    <input type="text" name="address" placeholder="Address">
    </label>
    <label class="item item-input">
    <input type="text" name="postalcode" placeholder="Postal Code">
    </label>
    <label class="item item-input">
        <input type="text" name="email" placeholder="Email Address">
    </label>

 <label class="item item-input item-select">
    <div class="input-label">
      Type of Plow
    </div>
    <select name="plowtype">
      <option value="driveway" selected>Driveway: 40.00</option>
      <option value="lot"> Parking Lot: 100.00</option>
      <option value ="privatestreet"> Private Street: 150.00</option>
    </select>
  </label>

    <label class="item item-input item-select">
        <div class="input-label">
            Ideal Time of Plow
        </div>
        <select name="plowtime">
            <option value="ASAP" selected>ASAP</option>
            <option value="Between95">Between 9am-5pm</option>
            <option value ="After6pm">After 6pm</option>
            <option value ="Roosters">When Roosters Crow</option>
        </select>
    </label>

    <label class="item item-input">
        <input type="text" name="notes" placeholder="Special Instructions">
    </label>

  <button class="button button-block button-positive">
    Submit 
  </button>
</div>
  </ion-content>
</ion-view>q


