<ion-view view-title="FAQs">
    <ion-content class="kaplow-pane kaplow-faqs">
        <ion-scroll>
        <h1>Got A Question? We've Got Answers:</h1>
        <p><b>What areas does Kaplow service?</b></p>Currently, Kaplow is available in Sydney, North Sydney, Sydney River, East Bay, New Waterford, Glace Bay, NS. Expansion plans are in the works.</p>
        <p><b>How long will my plow request take?<br></b>
            Your request is processed immediately, on demand. Upon completion of your Dispatch request and successful completion of
            payment processing. Plow providers in our network provide a response within 15 minutes of your request, so you can expect
            confirmation notification within 15 minutes or less.
            Plowers respond to the requests in the order received within assigned postal code zones to ensure that the closest plows
            are responding to requests in your area. The time it takes for a plow to arrive at your location will differ based on how many requests were made prior to yours within that
            zone.</p>
        <p><b>Who should I contact if the plower does not meet my expectations?</p></b>We hope that doesn't
        occur, but in the event that it does, please contact satisfactionguaranteed@kaplow.com, and we'll
        make it right.</p>
        <p><b></b>Can I schedule a plow for a specific time?</p>Your plow will arrive within 15 minutes of the "ideal time" specified on your
        dispatch request. </p>
        <p><b>How do I request a refund?</b></p>Refunds will be processed via email. Please contact
        satisfactionguaranteed@kaplow.com</p>
        <p><b>Can I request a specific plow?</b></p>Not in V1.0. But, we will be developing this feature so that customers
        can request plowers they trust most.
        <p><strong>Can I pay cash?</strong><br>
            Kaplow accepts payments via debit and credit card only.</p>
        </ion-scroll>
  </ion-content>
</ion-view>
