<ion-view view-title="KAPLOW!" >
  <ion-content class="kaplow-pane">
    <!--<ion-list>
      <ion-item class="item-avatar" type="item-text-wrap" href="#/tab/dispatchform">
        <h2>Dispatch a Driver!</h2>
      </ion-item>
    </ion-list>-->



<div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Phone Number">
    </label>
    <label class="item item-input">
    <input type="text" placeholder="Street Number">
    </label>
    <label class="item item-input">
    <input type="text" placeholder="Street Name">
    </label>
    <label class="item item-input">
    <input type="text" placeholder="Postal Code">
    </label>


   
  
 <label class="item item-input item-select">
    <div class="input-label">
      Type of Plow
    </div>
    <select>
      <option selected>Driveway</option>
      <option>Parking Lot</option>
      <option>Private Street</option>
    </select>
  </label>
<label class="item item-input">
    <input type="text" placeholder="Notes">
    </label>


    <label class="item item-input">
    <input type="text" placeholder="Ideal Time for Plow">
  </label>
</div>

<div class="button-wrapper">
  <button class="button button-block button-positive">
    Submit 
  </button>
</div>
  </ion-content>
</ion-view>q


