/* Empty. Add your own CSS if you like */
.button-wrapper {
	width: 100%;
	padding: 10px;
}

body{
    background-color: #FFFFFF !important;
}


.pane {
    background-image: url('../img/kaplowdispatch.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ff440a;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;*/

}


.kaplow-pane{
    background-color: #FFFFFF;
    height: 100%;
}

p{
    color: #000000;
}

.kaplow-faqs{
    padding: 0px 10px;
}



